body{
    background-color: #ff3;
    padding-top: 200px;
}
.swipercontainer{
    width: 50%;
    height: 50vh;
    margin: auto;
}
.img__swip{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}